{{#list-filter
   filter=(action 'filterByLocation')
   as |filteredResults|}}
  <ul class="results">
    {{#each filteredResults as |succulentUnit|}}
      <li>{{succulent-listing succulent=succulentUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}

{{outlet}}
