<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Succulent Database</h2>
  <p>
    The Succulent Database is a fun and informative project created by Yuya Oguchi to explore Succulents. The main purpose is to help with newcomers to understand the basics of growing succulents and not kill them as I have done so many times. The website also serves to understand different kinds of succulents out there by classifying them.
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}
