<div class="jumbo">
  <h2>Contact Me</h2>
  <p>There are no contacts at the moment as this is just my side project. I also realized there are lots to work on for this website. Please be patient with me!</p>
  <p>If you are interested in helping out with the website by adding information to the database, then please contact me on reddit <a href="https://www.reddit.com/user/xenoturtle/"> /u/xenoturtle </a></p>
  <address>
  </address>
  <p>Checkout <a href="https://www.reddit.com/r/succulents/"> Official Reddit page</a> for more details</p>
</div>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}

{{outlet}}
