<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Me</h2>
  <p>There are no contacts at the moment as this is just my side project.</p>
  <address>
  </address>
  <p>Checkout <a href="https://www.reddit.com/r/succulents/">Reddit page</a> for more details</p>
</div>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}

{{outlet}}
